{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>

    <nav>
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="left">
          <li><a href="/admin"><i class="material-icons left">settings</i>Admin</a></li>
        </ul>
        <a href="/" class="center brand-logo">
          <img alt='App Logo' src='{% static 'images/logo.png' %}' height="60">
        </a>
      </div>
    </nav>

    <main class="container">
      {% block content %}{% endblock %}
    </main>

    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
  </body>
</html>
